* {
    box-sizing: border-box;
    max-width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    background-color: #b2ffee;
}

.header-container {
    background-color: #ffb2ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

.hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    height: 60px;
}

.hero-right {
    display: flex;
    justify-content: end;
    height: 40px;
    gap: 10px;
}

.header-content {
    padding: 30px;
    padding-bottom: 90px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex: 1;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0;
    width: inherit;
}

.header-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: auto;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.small-text {
    font-size: 18px;
    color: white;
}

.header-img {
    width: 500px;
    height: auto;
    object-fit:scale-down;
}

button {
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    background-color: #f10091;
    font-weight: bolder;
    color: white;
    border-style: none;
    border: 2px solid white;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: white;
    text-align: center;
}

.info-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-shadow: 0.5px 0.5px 2px #c34aa2;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
    color: white;
    font-size: larger;
    font-weight: 600;    
    justify-content: space-between;
}

.card-img {
    border-radius: 10px;
}

.quote-container {
    background-color: #ffb2ea;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 60px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: white;
    width: 750px;
}

.quote-credit {
    text-align: end;
    font-weight: bold;
    width: 600px;
    font-size: 24px;
    color: white;
}

.call-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.call {
    background-color: #ffb2ea;
    display: flex;
    border-radius: 10px;
    padding: 30px;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    gap: 20px;
}

button.call-button {
    height: 50px;
}

.call-heading {
    font-weight: bolder;
    color: white;
    font-size: larger;
}

.footer {
    background-color: #ffb2ea;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.credits {
    color: white;
    margin-bottom: 0;
}

.rights {
    color: white;
    margin-bottom: 0;
}