* {
    box-sizing: border-box;
    max-width: 100%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

.hero {
    padding-top: 18px;
    padding-left: 90px;
    padding-right: 90px;
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: inherit;
}

.header-content {
    padding: 30px;
    padding-bottom: 90px;
    padding-top: 60px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    flex: 1;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0;
    width: inherit;
}

.header-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    height: auto;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 0;
    margin-bottom: 0;
}

.small-text {
    font-size: 18px;
    color: #e5e7eb;
}

.logo {
    height: 60px;
}

.social-icons {
    height: 42px;
}

.header-img {
    width: 500px;
    height: auto;
    object-fit:scale-down;
}

button {
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    background-color: #3882f6;
    font-weight: bolder;
    color: #f9faf8;
    border-style: none;
}

.info-title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.info-container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 40px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-wrap: wrap;
    text-align: center;
}

.card-img {
    border-radius: 10px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 60px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 750px;
}

.quote-credit {
    align-self: flex-end;
    font-weight: bold;
    width: 600px;
    font-size: 24px;
}

.call-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.call {
    background-color: #3882f6;
    display: flex;
    border-radius: 10px;
    padding: 30px;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
    flex-wrap: wrap;
    color: #E5E7EB;
    gap: 20px;
}

button.call-button {
    border: 2px solid white;
    height: 50px;
}

.call-heading {
    font-weight: bolder;
    color: #F9FAF8;
}

.footer {
    background-color: #1F2937;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.credits {
    color: #E5E7EB;
    margin-bottom: 0;
}

.rights {
    color: #E5E7EB;
    margin-bottom: 0;
}